In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

In [42]:
mlb = MultiLabelBinarizer(sparse_output=False)

In [29]:
dat = pd.read_csv('data/clean_data.csv')

In [30]:
dat.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,HADM_ID,TEXT,ICD9_codes
0,0,174,22532,167853,Service: ADDENDUM: RADIOLOGIC STUDIES: Radiolo...,"['01193', '4254', '42731', '2639', '2762', '50..."
1,1,170,22532,167853,HISTORY OF PRESENT ILLNESS: The patient is an ...,"['01193', '4254', '42731', '2639', '2762', '50..."
2,2,175,13702,107527,Sex: F Service: MICU and then to Medicine HIST...,"['5191', '49121', '51881', '486', '2761', '244..."
3,3,176,13702,167118,Service: CARDIOTHORACIC Allergies: Amlodipine ...,"['5191', '5185', '496', '2762', '45340', '5533']"
4,4,177,13702,196489,Service: MEDICINE Allergies: Amlodipine Attend...,"['51884', '5849', '34830', '49121', '2760', '4..."

In [31]:
print(dat.loc[0]['ICD9_codes'])

['01193', '4254', '42731', '2639', '2762', '5070', '5119', '2113']

In [33]:
# create list of lists for all ICD9_code vectors
# blah = dat['ICD9_codes'].apply(lambda x: ast.literal_eval(x))
import ast

list_of_lists = []

for row in dat['ICD9_codes']:
    list_of_lists.append(ast.literal_eval(row))

In [34]:
len(list_of_lists)

55172

In [35]:
len(dat)

55172

In [72]:
one_hots = mlb.fit_transform(list_of_lists)

In [74]:
one_hots.sum()

641983

In [75]:
print(mlb.classes_)
len(mlb.classes_)

['0030' '0031' '0038' ... 'V9081' 'V9089' 'V9103']

6918

In [83]:
print(list_of_lists[0])
mlb.classes_[np.where(one_hots[0]>0)]

['01193', '4254', '42731', '2639', '2762', '5070', '5119', '2113']

array(['01193', '2113', '2639', '2762', '4254', '42731', '5070', '5119'],
      dtype=object)